{% extends 'base.html' %}


{% block head %}
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register_style.css') }}">

{% endblock %}


{% block body %}
<div class="center">
    <h1>Search</h1>
    <form method="post" action="/search">
      <div class="txt_field">
        <input id="city" name="city" type="text" required>
        <span></span>
        <label>Search by City....</label>
      </div>
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}